.product-badge {
  background: #ff424e;
}

.product-thumbnail,
.product-thumbnail-skeleton {
  width: 100px;
  height: auto;
 
}

.image-item {
  width: 20px;
  height: 20px;
}

.container{
  padding-left: 8px;
  width: 280px;
  padding-bottom: 18px;
}

.text-style{
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.price-style{
  font-weight: bold;
  font-size: 20px;
}